In [1]:
import numpy

ModuleNotFoundError: No module named 'numpy'

In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
df = pd.read_csv("2015dv2-2.csv")

NameError: name 'pd' is not defined

In [4]:
all_df[:2]

NameError: name 'all_df' is not defined

In [36]:
all_df.isnull().sum()

Sp_no         9
sex           9
age         193
date          9
origin        9
ns1           9
igm           9
igg           9
vl            9
severity      9
dtype: int64

In [37]:
all_df.dropna(how='all')

,Sp_no,sex,age,date,origin,ns1,igm,igg,vl,severity
0,15014540,0.0,58.0,2015-07-23,1.0,1.0,0.0,0.0,3930000.0,0.0
1,15016410,0.0,80.0,2015-08-14,1.0,1.0,0.0,0.0,1600.0,0.0
2,15016320,1.0,10.0,2015-08-14,1.0,1.0,0.0,0.0,618000.0,0.0
3,15016517,1.0,58.0,2015-08-17,1.0,0.0,0.0,0.0,936000.0,0.0
4,15016753,1.0,73.0,2015-08-18,1.0,1.0,0.0,0.0,1250.0,0.0
5,15016908,1.0,28.0,2015-08-19,1.0,1.0,0.0,0.0,478000.0,0.0
6,15017063,0.0,75.0,2015-08-20,1.0,1.0,0.0,0.0,18300.0,0.0
7,15017079,0.0,24.0,2015-08-20,1.0,1.0,0.0,0.0,180000000.0,0.0
8,15019978,1.0,83.0,2015-09-05,3.0,1.0,1.0,1.0,0.0,2.0
9,15025571,2.0,NaN,2015-09-25,2.0,0.0,0.0,0.0,38100.0,0.0
10,15025050,1.0,79.0,2015-09-23,1.0,1.0,0.0,0.0,255000.0,1.0
11,15021132,1.0,90.0,2015-09-09,1.0,1.0,0.0,0.0,0.0,2.0
12,15022140,1.0,6.0,2015-09-13,3.0,1.0,0.0,0.0,0.0,1.0
13,15022908,1.0,63.0,2015-09-16,1.0,1.0,1.0,1.0,0.0,2.0
14,15028223,1.0,72.0,2015-10-08,1.0,1.0,0.0,0.0,0.0,1.0
15,15028806,0.0,92.0,2015-10-13,1.0,1.0,0.0,0.0,0.0,1.0
16,15029030,1.0,82.0,2015-10-14,1.0,1.0,0.0,0.0,0.0,1.0
17,15023010,1.0,77.0,2015-09-16,1.0,1.0,0.0,1.0,0.0,2.0
18,15017526,0.0,84.0,2015-08-24,1.0,0.0,0.0,1.0,0.0,0.0
19,15023484,0.0,72.0,2015-09-17,1.0,1.0,0.0,1.0,0.0,2.0
20,15017335,1.0,72.0,2015-08-23,1.0,1.0,0.0,0.0,89600.0,1.0
21,15023547,1.0,63.0,2015-09-18,1.0,1.0,1.0,1.0,0.0,2.0
22,15023941,0.0,88.0,2015-09-19,1.0,1.0,0.0,1.0,0.0,2.0
23,15020460,0.0,77.0,2015-09-07,1.0,1.0,1.0,1.0,27600.0,2.0
24,15023994,0.0,88.0,2015-09-19,1.0,1.0,0.0,1.0,486000.0,2.0
25,15026119,0.0,84.0,2015-09-28,1.0,0.0,1.0,0.0,0.0,2.0
26,15030723,0.0,73.0,2015-10-26,1.0,1.0,0.0,0.0,0.0,1.0
27,15026998,1.0,71.0,2015-10-02,1.0,1.0,1.0,1.0,80400.0,2.0
28,15031034,0.0,77.0,2015-10-28,4.0,1.0,0.0,1.0,0.0,1.0
29,15017886,1.0,76.0,2015-08-27,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
768,15030416,2.0,NaN,2015-10-24,1.0,0.0,0.0,1.0,0.0,0.0
769,15030417,2.0,NaN,2015-10-24,1.0,0.0,1.0,1.0,0.0,0.0
770,15030452,2.0,NaN,2015-10-24,3.0,0.0,0.0,1.0,0.0,0.0
771,15018110,0.0,23.0,2015-08-28,4.0,0.0,0.0,0.0,0.0,0.0
772,15030461,2.0,NaN,2015-10-25,1.0,0.0,0.0,0.0,1420000.0,0.0
773,15030476,2.0,NaN,2015-10-25,1.0,0.0,1.0,0.0,0.0,0.0
774,15030508,2.0,NaN,2015-10-25,1.0,0.0,0.0,1.0,0.0,0.0
775,15030725,2.0,NaN,2015-10-26,2.0,0.0,0.0,0.0,1330000.0,0.0
776,15030648,2.0,NaN,2015-10-26,1.0,0.0,1.0,0.0,0.0,0.0
777,15030741,2.0,NaN,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
778,15030769,2.0,NaN,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
779,15030930,2.0,NaN,2015-10-28,2.0,0.0,1.0,0.0,0.0,0.0
780,15019407,1.0,72.0,2015-09-03,1.0,1.0,0.0,1.0,1150000.0,1.0
781,15031184,2.0,NaN,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
782,15031187,2.0,NaN,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
783,15031213,2.0,NaN,2015-10-30,1.0,0.0,0.0,0.0,28800.0,0.0
784,15031292,2.0,NaN,2015-10-30,1.0,0.0,1.0,1.0,0.0,0.0
785,15031412,2.0,NaN,2015-10-31,1.0,0.0,0.0,0.0,31100.0,0.0
786,15031608,2.0,NaN,2015-11-02,1.0,0.0,0.0,1.0,0.0,0.0
787,15031903,2.0,NaN,2015-11-05,2.0,1.0,0.0,1.0,226000.0,0.0
788,15032134,2.0,NaN,2015-11-07,2.0,0.0,0.0,0.0,1200000.0,0.0
789,15032987,2.0,NaN,2015-11-15,1.0,0.0,1.0,1.0,0.0,0.0
790,15033511,2.0,NaN,2015-11-19,1.0,0.0,1.0,0.0,0.0,0.0
791,15021267,2.0,NaN,2015-09-09,4.0,0.0,0.0,0.0,249000.0,0.0
792,15033612,2.0,NaN,2015-11-21,1.0,0.0,0.0,0.0,1800000.0,0.0
793,15033667,2.0,NaN,2015-11-21,1.0,0.0,1.0,0.0,0.0,0.0
794,15033839,2.0,NaN,2015-11-22,4.0,0.0,0.0,1.0,0.0,0.0
795,15034003,2.0,NaN,2015-11-24,1.0,0.0,0.0,0.0,3350000.0,0.0
796,15034071,2.0,NaN,2015-11-25,1.0,0.0,0.0,1.0,0.0,0.0
797,15034091,2.0,NaN,2015-11-25,3.0,0.0,1.0,1.0,0.0,0.0

In [38]:
all_df.isnull().sum()

Sp_no         9
sex           9
age         193
date          9
origin        9
ns1           9
igm           9
igg           9
vl            9
severity      9
dtype: int64

In [10]:
df=all_df

In [31]:
age_mean=df['age'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'method'

In [12]:
age_mean

<bound method Series.mean of 0      58.0
1      80.0
2      10.0
3      58.0
4      73.0
5      28.0
6      75.0
7      24.0
8      83.0
9       NaN
10     79.0
11     90.0
12      6.0
13     63.0
14     72.0
15     92.0
16     82.0
17     77.0
18     84.0
19     72.0
20     72.0
21     63.0
22     88.0
23     77.0
24     88.0
25     84.0
26     73.0
27     71.0
28     77.0
29     76.0
       ...
777     NaN
778     NaN
779     NaN
780    72.0
781     NaN
782     NaN
783     NaN
784     NaN
785     NaN
786     NaN
787     NaN
788     NaN
789     NaN
790     NaN
791     NaN
792     NaN
793     NaN
794     NaN
795     NaN
796     NaN
797     NaN
798     NaN
799     NaN
800     NaN
801     NaN
802     NaN
803     NaN
804     NaN
805     NaN
806     NaN
Name: age, Length: 807, dtype: float64>

In [25]:
df['age']=df['age'].fillna(age_mean)

In [26]:
ndarray=df.values

In [27]:
ndarray.shape

(807, 10)

In [28]:
ndarray[:2]

array([['15014540', 0.0, 58.0, '2015-07-23', 1.0, 1.0, 0.0, 0.0,
        3930000.0, 0.0],
       ['15016410', 0.0, 80.0, '2015-08-14', 1.0, 1.0, 0.0, 0.0, 1600.0,
        0.0]], dtype=object)

In [19]:
df.dropna()

,Sp_no,sex,age,date,origin,ns1,igm,igg,vl,severity
0,15014540,0.0,58,2015-07-23,1.0,1.0,0.0,0.0,3930000.0,0.0
1,15016410,0.0,80,2015-08-14,1.0,1.0,0.0,0.0,1600.0,0.0
2,15016320,1.0,10,2015-08-14,1.0,1.0,0.0,0.0,618000.0,0.0
3,15016517,1.0,58,2015-08-17,1.0,0.0,0.0,0.0,936000.0,0.0
4,15016753,1.0,73,2015-08-18,1.0,1.0,0.0,0.0,1250.0,0.0
5,15016908,1.0,28,2015-08-19,1.0,1.0,0.0,0.0,478000.0,0.0
6,15017063,0.0,75,2015-08-20,1.0,1.0,0.0,0.0,18300.0,0.0
7,15017079,0.0,24,2015-08-20,1.0,1.0,0.0,0.0,180000000.0,0.0
8,15019978,1.0,83,2015-09-05,3.0,1.0,1.0,1.0,0.0,2.0
9,15025571,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-09-25,2.0,0.0,0.0,0.0,38100.0,0.0
10,15025050,1.0,79,2015-09-23,1.0,1.0,0.0,0.0,255000.0,1.0
11,15021132,1.0,90,2015-09-09,1.0,1.0,0.0,0.0,0.0,2.0
12,15022140,1.0,6,2015-09-13,3.0,1.0,0.0,0.0,0.0,1.0
13,15022908,1.0,63,2015-09-16,1.0,1.0,1.0,1.0,0.0,2.0
14,15028223,1.0,72,2015-10-08,1.0,1.0,0.0,0.0,0.0,1.0
15,15028806,0.0,92,2015-10-13,1.0,1.0,0.0,0.0,0.0,1.0
16,15029030,1.0,82,2015-10-14,1.0,1.0,0.0,0.0,0.0,1.0
17,15023010,1.0,77,2015-09-16,1.0,1.0,0.0,1.0,0.0,2.0
18,15017526,0.0,84,2015-08-24,1.0,0.0,0.0,1.0,0.0,0.0
19,15023484,0.0,72,2015-09-17,1.0,1.0,0.0,1.0,0.0,2.0
20,15017335,1.0,72,2015-08-23,1.0,1.0,0.0,0.0,89600.0,1.0
21,15023547,1.0,63,2015-09-18,1.0,1.0,1.0,1.0,0.0,2.0
22,15023941,0.0,88,2015-09-19,1.0,1.0,0.0,1.0,0.0,2.0
23,15020460,0.0,77,2015-09-07,1.0,1.0,1.0,1.0,27600.0,2.0
24,15023994,0.0,88,2015-09-19,1.0,1.0,0.0,1.0,486000.0,2.0
25,15026119,0.0,84,2015-09-28,1.0,0.0,1.0,0.0,0.0,2.0
26,15030723,0.0,73,2015-10-26,1.0,1.0,0.0,0.0,0.0,1.0
27,15026998,1.0,71,2015-10-02,1.0,1.0,1.0,1.0,80400.0,2.0
28,15031034,0.0,77,2015-10-28,4.0,1.0,0.0,1.0,0.0,1.0
29,15017886,1.0,76,2015-08-27,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
768,15030416,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-24,1.0,0.0,0.0,1.0,0.0,0.0
769,15030417,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-24,1.0,0.0,1.0,1.0,0.0,0.0
770,15030452,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-24,3.0,0.0,0.0,1.0,0.0,0.0
771,15018110,0.0,23,2015-08-28,4.0,0.0,0.0,0.0,0.0,0.0
772,15030461,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-25,1.0,0.0,0.0,0.0,1420000.0,0.0
773,15030476,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-25,1.0,0.0,1.0,0.0,0.0,0.0
774,15030508,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-25,1.0,0.0,0.0,1.0,0.0,0.0
775,15030725,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-26,2.0,0.0,0.0,0.0,1330000.0,0.0
776,15030648,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-26,1.0,0.0,1.0,0.0,0.0,0.0
777,15030741,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
778,15030769,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
779,15030930,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-28,2.0,0.0,1.0,0.0,0.0,0.0
780,15019407,1.0,72,2015-09-03,1.0,1.0,0.0,1.0,1150000.0,1.0
781,15031184,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
782,15031187,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
783,15031213,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-30,1.0,0.0,0.0,0.0,28800.0,0.0
784,15031292,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-30,1.0,0.0,1.0,1.0,0.0,0.0
785,15031412,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-31,1.0,0.0,0.0,0.0,31100.0,0.0
786,15031608,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-02,1.0,0.0,0.0,1.0,0.0,0.0
787,15031903,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-05,2.0,1.0,0.0,1.0,226000.0,0.0
788,15032134,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-07,2.0,0.0,0.0,0.0,1200000.0,0.0
789,15032987,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-15,1.0,0.0,1.0,1.0,0.0,0.0
790,15033511,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-19,1.0,0.0,1.0,0.0,0.0,0.0
791,15021267,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-09-09,4.0,0.0,0.0,0.0,249000.0,0.0
792,15033612,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-21,1.0,0.0,0.0,0.0,1800000.0,0.0
793,15033667,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-21,1.0,0.0,1.0,0.0,0.0,0.0
794,15033839,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-22,4.0,0.0,0.0,1.0,0.0,0.0
795,15034003,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-24,1.0,0.0,0.0,0.0,3350000.0,0.0
796,15034071,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-25,1.0,0.0,0.0,1.0,0.0,0.0
797,15034091,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-25,3.0,0.0,1.0,1.0,0.0,0.0

In [29]:
ndarray=df.values

In [30]:
ndarray.shape

(807, 10)

In [23]:
ndarray

array([['15014540', 0.0, 58.0, ..., 0.0, 3930000.0, 0.0],
       ['15016410', 0.0, 80.0, ..., 0.0, 1600.0, 0.0],
       ['15016320', 1.0, 10.0, ..., 0.0, 618000.0, 0.0],
       ...,
       [nan, nan,
        <bound method Series.mean of 0      58.0
1      80.0
2      10.0
3      58.0
4      73.0
5      28.0
6      75.0
7      24.0
8      83.0
9       NaN
10     79.0
11     90.0
12      6.0
13     63.0
14     72.0
15     92.0
16     82.0
17     77.0
18     84.0
19     72.0
20     72.0
21     63.0
22     88.0
23     77.0
24     88.0
25     84.0
26     73.0
27     71.0
28     77.0
29     76.0
       ...
777     NaN
778     NaN
779     NaN
780    72.0
781     NaN
782     NaN
783     NaN
784     NaN
785     NaN
786     NaN
787     NaN
788     NaN
789     NaN
790     NaN
791     NaN
792     NaN
793     NaN
794     NaN
795     NaN
796     NaN
797     NaN
798     NaN
799     NaN
800     NaN
801     NaN
802     NaN
803     NaN
804     NaN
805     NaN
806     NaN
Name: age, Length: 807, dtype: float64>,
        ..., nan, nan, nan],
       [nan, nan,
        <bound method Series.mean of 0      58.0
1      80.0
2      10.0
3      58.0
4      73.0
5      28.0
6      75.0
7      24.0
8      83.0
9       NaN
10     79.0
11     90.0
12      6.0
13     63.0
14     72.0
15     92.0
16     82.0
17     77.0
18     84.0
19     72.0
20     72.0
21     63.0
22     88.0
23     77.0
24     88.0
25     84.0
26     73.0
27     71.0
28     77.0
29     76.0
       ...
777     NaN
778     NaN
779     NaN
780    72.0
781     NaN
782     NaN
783     NaN
784     NaN
785     NaN
786     NaN
787     NaN
788     NaN
789     NaN
790     NaN
791     NaN
792     NaN
793     NaN
794     NaN
795     NaN
796     NaN
797     NaN
798     NaN
799     NaN
800     NaN
801     NaN
802     NaN
803     NaN
804     NaN
805     NaN
806     NaN
Name: age, Length: 807, dtype: float64>,
        ..., nan, nan, nan],
       [nan, nan,
        <bound method Series.mean of 0      58.0
1      80.0
2      10.0
3      58.0
4      73.0
5      28.0
6      75.0
7      24.0
8      83.0
9       NaN
10     79.0
11     90.0
12      6.0
13     63.0
14     72.0
15     92.0
16     82.0
17     77.0
18     84.0
19     72.0
20     72.0
21     63.0
22     88.0
23     77.0
24     88.0
25     84.0
26     73.0
27     71.0
28     77.0
29     76.0
       ...
777     NaN
778     NaN
779     NaN
780    72.0
781     NaN
782     NaN
783     NaN
784     NaN
785     NaN
786     NaN
787     NaN
788     NaN
789     NaN
790     NaN
791     NaN
792     NaN
793     NaN
794     NaN
795     NaN
796     NaN
797     NaN
798     NaN
799     NaN
800     NaN
801     NaN
802     NaN
803     NaN
804     NaN
805     NaN
806     NaN
Name: age, Length: 807, dtype: float64>,
        ..., nan, nan, nan]], dtype=object)

In [32]:
age_mean=df['age'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'method'

In [33]:
df

,Sp_no,sex,age,date,origin,ns1,igm,igg,vl,severity
0,15014540,0.0,58,2015-07-23,1.0,1.0,0.0,0.0,3930000.0,0.0
1,15016410,0.0,80,2015-08-14,1.0,1.0,0.0,0.0,1600.0,0.0
2,15016320,1.0,10,2015-08-14,1.0,1.0,0.0,0.0,618000.0,0.0
3,15016517,1.0,58,2015-08-17,1.0,0.0,0.0,0.0,936000.0,0.0
4,15016753,1.0,73,2015-08-18,1.0,1.0,0.0,0.0,1250.0,0.0
5,15016908,1.0,28,2015-08-19,1.0,1.0,0.0,0.0,478000.0,0.0
6,15017063,0.0,75,2015-08-20,1.0,1.0,0.0,0.0,18300.0,0.0
7,15017079,0.0,24,2015-08-20,1.0,1.0,0.0,0.0,180000000.0,0.0
8,15019978,1.0,83,2015-09-05,3.0,1.0,1.0,1.0,0.0,2.0
9,15025571,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-09-25,2.0,0.0,0.0,0.0,38100.0,0.0
10,15025050,1.0,79,2015-09-23,1.0,1.0,0.0,0.0,255000.0,1.0
11,15021132,1.0,90,2015-09-09,1.0,1.0,0.0,0.0,0.0,2.0
12,15022140,1.0,6,2015-09-13,3.0,1.0,0.0,0.0,0.0,1.0
13,15022908,1.0,63,2015-09-16,1.0,1.0,1.0,1.0,0.0,2.0
14,15028223,1.0,72,2015-10-08,1.0,1.0,0.0,0.0,0.0,1.0
15,15028806,0.0,92,2015-10-13,1.0,1.0,0.0,0.0,0.0,1.0
16,15029030,1.0,82,2015-10-14,1.0,1.0,0.0,0.0,0.0,1.0
17,15023010,1.0,77,2015-09-16,1.0,1.0,0.0,1.0,0.0,2.0
18,15017526,0.0,84,2015-08-24,1.0,0.0,0.0,1.0,0.0,0.0
19,15023484,0.0,72,2015-09-17,1.0,1.0,0.0,1.0,0.0,2.0
20,15017335,1.0,72,2015-08-23,1.0,1.0,0.0,0.0,89600.0,1.0
21,15023547,1.0,63,2015-09-18,1.0,1.0,1.0,1.0,0.0,2.0
22,15023941,0.0,88,2015-09-19,1.0,1.0,0.0,1.0,0.0,2.0
23,15020460,0.0,77,2015-09-07,1.0,1.0,1.0,1.0,27600.0,2.0
24,15023994,0.0,88,2015-09-19,1.0,1.0,0.0,1.0,486000.0,2.0
25,15026119,0.0,84,2015-09-28,1.0,0.0,1.0,0.0,0.0,2.0
26,15030723,0.0,73,2015-10-26,1.0,1.0,0.0,0.0,0.0,1.0
27,15026998,1.0,71,2015-10-02,1.0,1.0,1.0,1.0,80400.0,2.0
28,15031034,0.0,77,2015-10-28,4.0,1.0,0.0,1.0,0.0,1.0
29,15017886,1.0,76,2015-08-27,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
777,15030741,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
778,15030769,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
779,15030930,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-28,2.0,0.0,1.0,0.0,0.0,0.0
780,15019407,1.0,72,2015-09-03,1.0,1.0,0.0,1.0,1150000.0,1.0
781,15031184,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
782,15031187,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
783,15031213,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-30,1.0,0.0,0.0,0.0,28800.0,0.0
784,15031292,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-30,1.0,0.0,1.0,1.0,0.0,0.0
785,15031412,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-31,1.0,0.0,0.0,0.0,31100.0,0.0
786,15031608,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-02,1.0,0.0,0.0,1.0,0.0,0.0
787,15031903,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-05,2.0,1.0,0.0,1.0,226000.0,0.0
788,15032134,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-07,2.0,0.0,0.0,0.0,1200000.0,0.0
789,15032987,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-15,1.0,0.0,1.0,1.0,0.0,0.0
790,15033511,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-19,1.0,0.0,1.0,0.0,0.0,0.0
791,15021267,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-09-09,4.0,0.0,0.0,0.0,249000.0,0.0
792,15033612,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-21,1.0,0.0,0.0,0.0,1800000.0,0.0
793,15033667,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-21,1.0,0.0,1.0,0.0,0.0,0.0
794,15033839,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-22,4.0,0.0,0.0,1.0,0.0,0.0
795,15034003,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-24,1.0,0.0,0.0,0.0,3350000.0,0.0
796,15034071,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-25,1.0,0.0,0.0,1.0,0.0,0.0
797,15034091,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-25,3.0,0.0,1.0,1.0,0.0,0.0
798,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
802,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
804,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
805,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df

,Sp_no,sex,age,date,origin,ns1,igm,igg,vl,severity
0,15014540,0.0,58,2015-07-23,1.0,1.0,0.0,0.0,3930000.0,0.0
1,15016410,0.0,80,2015-08-14,1.0,1.0,0.0,0.0,1600.0,0.0
2,15016320,1.0,10,2015-08-14,1.0,1.0,0.0,0.0,618000.0,0.0
3,15016517,1.0,58,2015-08-17,1.0,0.0,0.0,0.0,936000.0,0.0
4,15016753,1.0,73,2015-08-18,1.0,1.0,0.0,0.0,1250.0,0.0
5,15016908,1.0,28,2015-08-19,1.0,1.0,0.0,0.0,478000.0,0.0
6,15017063,0.0,75,2015-08-20,1.0,1.0,0.0,0.0,18300.0,0.0
7,15017079,0.0,24,2015-08-20,1.0,1.0,0.0,0.0,180000000.0,0.0
8,15019978,1.0,83,2015-09-05,3.0,1.0,1.0,1.0,0.0,2.0
9,15025571,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-09-25,2.0,0.0,0.0,0.0,38100.0,0.0
10,15025050,1.0,79,2015-09-23,1.0,1.0,0.0,0.0,255000.0,1.0
11,15021132,1.0,90,2015-09-09,1.0,1.0,0.0,0.0,0.0,2.0
12,15022140,1.0,6,2015-09-13,3.0,1.0,0.0,0.0,0.0,1.0
13,15022908,1.0,63,2015-09-16,1.0,1.0,1.0,1.0,0.0,2.0
14,15028223,1.0,72,2015-10-08,1.0,1.0,0.0,0.0,0.0,1.0
15,15028806,0.0,92,2015-10-13,1.0,1.0,0.0,0.0,0.0,1.0
16,15029030,1.0,82,2015-10-14,1.0,1.0,0.0,0.0,0.0,1.0
17,15023010,1.0,77,2015-09-16,1.0,1.0,0.0,1.0,0.0,2.0
18,15017526,0.0,84,2015-08-24,1.0,0.0,0.0,1.0,0.0,0.0
19,15023484,0.0,72,2015-09-17,1.0,1.0,0.0,1.0,0.0,2.0
20,15017335,1.0,72,2015-08-23,1.0,1.0,0.0,0.0,89600.0,1.0
21,15023547,1.0,63,2015-09-18,1.0,1.0,1.0,1.0,0.0,2.0
22,15023941,0.0,88,2015-09-19,1.0,1.0,0.0,1.0,0.0,2.0
23,15020460,0.0,77,2015-09-07,1.0,1.0,1.0,1.0,27600.0,2.0
24,15023994,0.0,88,2015-09-19,1.0,1.0,0.0,1.0,486000.0,2.0
25,15026119,0.0,84,2015-09-28,1.0,0.0,1.0,0.0,0.0,2.0
26,15030723,0.0,73,2015-10-26,1.0,1.0,0.0,0.0,0.0,1.0
27,15026998,1.0,71,2015-10-02,1.0,1.0,1.0,1.0,80400.0,2.0
28,15031034,0.0,77,2015-10-28,4.0,1.0,0.0,1.0,0.0,1.0
29,15017886,1.0,76,2015-08-27,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
777,15030741,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
778,15030769,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
779,15030930,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-28,2.0,0.0,1.0,0.0,0.0,0.0
780,15019407,1.0,72,2015-09-03,1.0,1.0,0.0,1.0,1150000.0,1.0
781,15031184,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
782,15031187,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
783,15031213,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-30,1.0,0.0,0.0,0.0,28800.0,0.0
784,15031292,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-30,1.0,0.0,1.0,1.0,0.0,0.0
785,15031412,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-10-31,1.0,0.0,0.0,0.0,31100.0,0.0
786,15031608,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-02,1.0,0.0,0.0,1.0,0.0,0.0
787,15031903,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-05,2.0,1.0,0.0,1.0,226000.0,0.0
788,15032134,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-07,2.0,0.0,0.0,0.0,1200000.0,0.0
789,15032987,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-15,1.0,0.0,1.0,1.0,0.0,0.0
790,15033511,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-19,1.0,0.0,1.0,0.0,0.0,0.0
791,15021267,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-09-09,4.0,0.0,0.0,0.0,249000.0,0.0
792,15033612,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-21,1.0,0.0,0.0,0.0,1800000.0,0.0
793,15033667,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-21,1.0,0.0,1.0,0.0,0.0,0.0
794,15033839,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-22,4.0,0.0,0.0,1.0,0.0,0.0
795,15034003,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-24,1.0,0.0,0.0,0.0,3350000.0,0.0
796,15034071,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-25,1.0,0.0,0.0,1.0,0.0,0.0
797,15034091,2.0,<bound method Series.mean of 0 58.0\n1 ...,2015-11-25,3.0,0.0,1.0,1.0,0.0,0.0
798,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
802,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
804,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
805,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806,NaN,NaN,<bound method Series.mean of 0 58.0\n1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df

,Sp_no,sex,age,date,origin,ns1,igm,igg,vl,severity
0,15014540,0.0,58.0,2015-07-23,1.0,1.0,0.0,0.0,3930000.0,0.0
1,15016410,0.0,80.0,2015-08-14,1.0,1.0,0.0,0.0,1600.0,0.0
2,15016320,1.0,10.0,2015-08-14,1.0,1.0,0.0,0.0,618000.0,0.0
3,15016517,1.0,58.0,2015-08-17,1.0,0.0,0.0,0.0,936000.0,0.0
4,15016753,1.0,73.0,2015-08-18,1.0,1.0,0.0,0.0,1250.0,0.0
5,15016908,1.0,28.0,2015-08-19,1.0,1.0,0.0,0.0,478000.0,0.0
6,15017063,0.0,75.0,2015-08-20,1.0,1.0,0.0,0.0,18300.0,0.0
7,15017079,0.0,24.0,2015-08-20,1.0,1.0,0.0,0.0,180000000.0,0.0
8,15019978,1.0,83.0,2015-09-05,3.0,1.0,1.0,1.0,0.0,2.0
9,15025571,2.0,NaN,2015-09-25,2.0,0.0,0.0,0.0,38100.0,0.0
10,15025050,1.0,79.0,2015-09-23,1.0,1.0,0.0,0.0,255000.0,1.0
11,15021132,1.0,90.0,2015-09-09,1.0,1.0,0.0,0.0,0.0,2.0
12,15022140,1.0,6.0,2015-09-13,3.0,1.0,0.0,0.0,0.0,1.0
13,15022908,1.0,63.0,2015-09-16,1.0,1.0,1.0,1.0,0.0,2.0
14,15028223,1.0,72.0,2015-10-08,1.0,1.0,0.0,0.0,0.0,1.0
15,15028806,0.0,92.0,2015-10-13,1.0,1.0,0.0,0.0,0.0,1.0
16,15029030,1.0,82.0,2015-10-14,1.0,1.0,0.0,0.0,0.0,1.0
17,15023010,1.0,77.0,2015-09-16,1.0,1.0,0.0,1.0,0.0,2.0
18,15017526,0.0,84.0,2015-08-24,1.0,0.0,0.0,1.0,0.0,0.0
19,15023484,0.0,72.0,2015-09-17,1.0,1.0,0.0,1.0,0.0,2.0
20,15017335,1.0,72.0,2015-08-23,1.0,1.0,0.0,0.0,89600.0,1.0
21,15023547,1.0,63.0,2015-09-18,1.0,1.0,1.0,1.0,0.0,2.0
22,15023941,0.0,88.0,2015-09-19,1.0,1.0,0.0,1.0,0.0,2.0
23,15020460,0.0,77.0,2015-09-07,1.0,1.0,1.0,1.0,27600.0,2.0
24,15023994,0.0,88.0,2015-09-19,1.0,1.0,0.0,1.0,486000.0,2.0
25,15026119,0.0,84.0,2015-09-28,1.0,0.0,1.0,0.0,0.0,2.0
26,15030723,0.0,73.0,2015-10-26,1.0,1.0,0.0,0.0,0.0,1.0
27,15026998,1.0,71.0,2015-10-02,1.0,1.0,1.0,1.0,80400.0,2.0
28,15031034,0.0,77.0,2015-10-28,4.0,1.0,0.0,1.0,0.0,1.0
29,15017886,1.0,76.0,2015-08-27,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
777,15030741,2.0,NaN,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
778,15030769,2.0,NaN,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
779,15030930,2.0,NaN,2015-10-28,2.0,0.0,1.0,0.0,0.0,0.0
780,15019407,1.0,72.0,2015-09-03,1.0,1.0,0.0,1.0,1150000.0,1.0
781,15031184,2.0,NaN,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
782,15031187,2.0,NaN,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
783,15031213,2.0,NaN,2015-10-30,1.0,0.0,0.0,0.0,28800.0,0.0
784,15031292,2.0,NaN,2015-10-30,1.0,0.0,1.0,1.0,0.0,0.0
785,15031412,2.0,NaN,2015-10-31,1.0,0.0,0.0,0.0,31100.0,0.0
786,15031608,2.0,NaN,2015-11-02,1.0,0.0,0.0,1.0,0.0,0.0
787,15031903,2.0,NaN,2015-11-05,2.0,1.0,0.0,1.0,226000.0,0.0
788,15032134,2.0,NaN,2015-11-07,2.0,0.0,0.0,0.0,1200000.0,0.0
789,15032987,2.0,NaN,2015-11-15,1.0,0.0,1.0,1.0,0.0,0.0
790,15033511,2.0,NaN,2015-11-19,1.0,0.0,1.0,0.0,0.0,0.0
791,15021267,2.0,NaN,2015-09-09,4.0,0.0,0.0,0.0,249000.0,0.0
792,15033612,2.0,NaN,2015-11-21,1.0,0.0,0.0,0.0,1800000.0,0.0
793,15033667,2.0,NaN,2015-11-21,1.0,0.0,1.0,0.0,0.0,0.0
794,15033839,2.0,NaN,2015-11-22,4.0,0.0,0.0,1.0,0.0,0.0
795,15034003,2.0,NaN,2015-11-24,1.0,0.0,0.0,0.0,3350000.0,0.0
796,15034071,2.0,NaN,2015-11-25,1.0,0.0,0.0,1.0,0.0,0.0
797,15034091,2.0,NaN,2015-11-25,3.0,0.0,1.0,1.0,0.0,0.0
798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df.dropna(how='all')

,Sp_no,sex,age,date,origin,ns1,igm,igg,vl,severity
0,15014540,0.0,58.0,2015-07-23,1.0,1.0,0.0,0.0,3930000.0,0.0
1,15016410,0.0,80.0,2015-08-14,1.0,1.0,0.0,0.0,1600.0,0.0
2,15016320,1.0,10.0,2015-08-14,1.0,1.0,0.0,0.0,618000.0,0.0
3,15016517,1.0,58.0,2015-08-17,1.0,0.0,0.0,0.0,936000.0,0.0
4,15016753,1.0,73.0,2015-08-18,1.0,1.0,0.0,0.0,1250.0,0.0
5,15016908,1.0,28.0,2015-08-19,1.0,1.0,0.0,0.0,478000.0,0.0
6,15017063,0.0,75.0,2015-08-20,1.0,1.0,0.0,0.0,18300.0,0.0
7,15017079,0.0,24.0,2015-08-20,1.0,1.0,0.0,0.0,180000000.0,0.0
8,15019978,1.0,83.0,2015-09-05,3.0,1.0,1.0,1.0,0.0,2.0
9,15025571,2.0,NaN,2015-09-25,2.0,0.0,0.0,0.0,38100.0,0.0
10,15025050,1.0,79.0,2015-09-23,1.0,1.0,0.0,0.0,255000.0,1.0
11,15021132,1.0,90.0,2015-09-09,1.0,1.0,0.0,0.0,0.0,2.0
12,15022140,1.0,6.0,2015-09-13,3.0,1.0,0.0,0.0,0.0,1.0
13,15022908,1.0,63.0,2015-09-16,1.0,1.0,1.0,1.0,0.0,2.0
14,15028223,1.0,72.0,2015-10-08,1.0,1.0,0.0,0.0,0.0,1.0
15,15028806,0.0,92.0,2015-10-13,1.0,1.0,0.0,0.0,0.0,1.0
16,15029030,1.0,82.0,2015-10-14,1.0,1.0,0.0,0.0,0.0,1.0
17,15023010,1.0,77.0,2015-09-16,1.0,1.0,0.0,1.0,0.0,2.0
18,15017526,0.0,84.0,2015-08-24,1.0,0.0,0.0,1.0,0.0,0.0
19,15023484,0.0,72.0,2015-09-17,1.0,1.0,0.0,1.0,0.0,2.0
20,15017335,1.0,72.0,2015-08-23,1.0,1.0,0.0,0.0,89600.0,1.0
21,15023547,1.0,63.0,2015-09-18,1.0,1.0,1.0,1.0,0.0,2.0
22,15023941,0.0,88.0,2015-09-19,1.0,1.0,0.0,1.0,0.0,2.0
23,15020460,0.0,77.0,2015-09-07,1.0,1.0,1.0,1.0,27600.0,2.0
24,15023994,0.0,88.0,2015-09-19,1.0,1.0,0.0,1.0,486000.0,2.0
25,15026119,0.0,84.0,2015-09-28,1.0,0.0,1.0,0.0,0.0,2.0
26,15030723,0.0,73.0,2015-10-26,1.0,1.0,0.0,0.0,0.0,1.0
27,15026998,1.0,71.0,2015-10-02,1.0,1.0,1.0,1.0,80400.0,2.0
28,15031034,0.0,77.0,2015-10-28,4.0,1.0,0.0,1.0,0.0,1.0
29,15017886,1.0,76.0,2015-08-27,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
768,15030416,2.0,NaN,2015-10-24,1.0,0.0,0.0,1.0,0.0,0.0
769,15030417,2.0,NaN,2015-10-24,1.0,0.0,1.0,1.0,0.0,0.0
770,15030452,2.0,NaN,2015-10-24,3.0,0.0,0.0,1.0,0.0,0.0
771,15018110,0.0,23.0,2015-08-28,4.0,0.0,0.0,0.0,0.0,0.0
772,15030461,2.0,NaN,2015-10-25,1.0,0.0,0.0,0.0,1420000.0,0.0
773,15030476,2.0,NaN,2015-10-25,1.0,0.0,1.0,0.0,0.0,0.0
774,15030508,2.0,NaN,2015-10-25,1.0,0.0,0.0,1.0,0.0,0.0
775,15030725,2.0,NaN,2015-10-26,2.0,0.0,0.0,0.0,1330000.0,0.0
776,15030648,2.0,NaN,2015-10-26,1.0,0.0,1.0,0.0,0.0,0.0
777,15030741,2.0,NaN,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
778,15030769,2.0,NaN,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
779,15030930,2.0,NaN,2015-10-28,2.0,0.0,1.0,0.0,0.0,0.0
780,15019407,1.0,72.0,2015-09-03,1.0,1.0,0.0,1.0,1150000.0,1.0
781,15031184,2.0,NaN,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
782,15031187,2.0,NaN,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
783,15031213,2.0,NaN,2015-10-30,1.0,0.0,0.0,0.0,28800.0,0.0
784,15031292,2.0,NaN,2015-10-30,1.0,0.0,1.0,1.0,0.0,0.0
785,15031412,2.0,NaN,2015-10-31,1.0,0.0,0.0,0.0,31100.0,0.0
786,15031608,2.0,NaN,2015-11-02,1.0,0.0,0.0,1.0,0.0,0.0
787,15031903,2.0,NaN,2015-11-05,2.0,1.0,0.0,1.0,226000.0,0.0
788,15032134,2.0,NaN,2015-11-07,2.0,0.0,0.0,0.0,1200000.0,0.0
789,15032987,2.0,NaN,2015-11-15,1.0,0.0,1.0,1.0,0.0,0.0
790,15033511,2.0,NaN,2015-11-19,1.0,0.0,1.0,0.0,0.0,0.0
791,15021267,2.0,NaN,2015-09-09,4.0,0.0,0.0,0.0,249000.0,0.0
792,15033612,2.0,NaN,2015-11-21,1.0,0.0,0.0,0.0,1800000.0,0.0
793,15033667,2.0,NaN,2015-11-21,1.0,0.0,1.0,0.0,0.0,0.0
794,15033839,2.0,NaN,2015-11-22,4.0,0.0,0.0,1.0,0.0,0.0
795,15034003,2.0,NaN,2015-11-24,1.0,0.0,0.0,0.0,3350000.0,0.0
796,15034071,2.0,NaN,2015-11-25,1.0,0.0,0.0,1.0,0.0,0.0
797,15034091,2.0,NaN,2015-11-25,3.0,0.0,1.0,1.0,0.0,0.0

In [44]:
age_mean =df['age'].mean()

In [45]:
age_mean

55.644951140065146

In [46]:
df['age']=df['age'].fillna(age_mean)

In [47]:
df

,Sp_no,sex,age,date,origin,ns1,igm,igg,vl,severity
0,15014540,0.0,58.000000,2015-07-23,1.0,1.0,0.0,0.0,3930000.0,0.0
1,15016410,0.0,80.000000,2015-08-14,1.0,1.0,0.0,0.0,1600.0,0.0
2,15016320,1.0,10.000000,2015-08-14,1.0,1.0,0.0,0.0,618000.0,0.0
3,15016517,1.0,58.000000,2015-08-17,1.0,0.0,0.0,0.0,936000.0,0.0
4,15016753,1.0,73.000000,2015-08-18,1.0,1.0,0.0,0.0,1250.0,0.0
5,15016908,1.0,28.000000,2015-08-19,1.0,1.0,0.0,0.0,478000.0,0.0
6,15017063,0.0,75.000000,2015-08-20,1.0,1.0,0.0,0.0,18300.0,0.0
7,15017079,0.0,24.000000,2015-08-20,1.0,1.0,0.0,0.0,180000000.0,0.0
8,15019978,1.0,83.000000,2015-09-05,3.0,1.0,1.0,1.0,0.0,2.0
9,15025571,2.0,55.644951,2015-09-25,2.0,0.0,0.0,0.0,38100.0,0.0
10,15025050,1.0,79.000000,2015-09-23,1.0,1.0,0.0,0.0,255000.0,1.0
11,15021132,1.0,90.000000,2015-09-09,1.0,1.0,0.0,0.0,0.0,2.0
12,15022140,1.0,6.000000,2015-09-13,3.0,1.0,0.0,0.0,0.0,1.0
13,15022908,1.0,63.000000,2015-09-16,1.0,1.0,1.0,1.0,0.0,2.0
14,15028223,1.0,72.000000,2015-10-08,1.0,1.0,0.0,0.0,0.0,1.0
15,15028806,0.0,92.000000,2015-10-13,1.0,1.0,0.0,0.0,0.0,1.0
16,15029030,1.0,82.000000,2015-10-14,1.0,1.0,0.0,0.0,0.0,1.0
17,15023010,1.0,77.000000,2015-09-16,1.0,1.0,0.0,1.0,0.0,2.0
18,15017526,0.0,84.000000,2015-08-24,1.0,0.0,0.0,1.0,0.0,0.0
19,15023484,0.0,72.000000,2015-09-17,1.0,1.0,0.0,1.0,0.0,2.0
20,15017335,1.0,72.000000,2015-08-23,1.0,1.0,0.0,0.0,89600.0,1.0
21,15023547,1.0,63.000000,2015-09-18,1.0,1.0,1.0,1.0,0.0,2.0
22,15023941,0.0,88.000000,2015-09-19,1.0,1.0,0.0,1.0,0.0,2.0
23,15020460,0.0,77.000000,2015-09-07,1.0,1.0,1.0,1.0,27600.0,2.0
24,15023994,0.0,88.000000,2015-09-19,1.0,1.0,0.0,1.0,486000.0,2.0
25,15026119,0.0,84.000000,2015-09-28,1.0,0.0,1.0,0.0,0.0,2.0
26,15030723,0.0,73.000000,2015-10-26,1.0,1.0,0.0,0.0,0.0,1.0
27,15026998,1.0,71.000000,2015-10-02,1.0,1.0,1.0,1.0,80400.0,2.0
28,15031034,0.0,77.000000,2015-10-28,4.0,1.0,0.0,1.0,0.0,1.0
29,15017886,1.0,76.000000,2015-08-27,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
777,15030741,2.0,55.644951,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
778,15030769,2.0,55.644951,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
779,15030930,2.0,55.644951,2015-10-28,2.0,0.0,1.0,0.0,0.0,0.0
780,15019407,1.0,72.000000,2015-09-03,1.0,1.0,0.0,1.0,1150000.0,1.0
781,15031184,2.0,55.644951,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
782,15031187,2.0,55.644951,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
783,15031213,2.0,55.644951,2015-10-30,1.0,0.0,0.0,0.0,28800.0,0.0
784,15031292,2.0,55.644951,2015-10-30,1.0,0.0,1.0,1.0,0.0,0.0
785,15031412,2.0,55.644951,2015-10-31,1.0,0.0,0.0,0.0,31100.0,0.0
786,15031608,2.0,55.644951,2015-11-02,1.0,0.0,0.0,1.0,0.0,0.0
787,15031903,2.0,55.644951,2015-11-05,2.0,1.0,0.0,1.0,226000.0,0.0
788,15032134,2.0,55.644951,2015-11-07,2.0,0.0,0.0,0.0,1200000.0,0.0
789,15032987,2.0,55.644951,2015-11-15,1.0,0.0,1.0,1.0,0.0,0.0
790,15033511,2.0,55.644951,2015-11-19,1.0,0.0,1.0,0.0,0.0,0.0
791,15021267,2.0,55.644951,2015-09-09,4.0,0.0,0.0,0.0,249000.0,0.0
792,15033612,2.0,55.644951,2015-11-21,1.0,0.0,0.0,0.0,1800000.0,0.0
793,15033667,2.0,55.644951,2015-11-21,1.0,0.0,1.0,0.0,0.0,0.0
794,15033839,2.0,55.644951,2015-11-22,4.0,0.0,0.0,1.0,0.0,0.0
795,15034003,2.0,55.644951,2015-11-24,1.0,0.0,0.0,0.0,3350000.0,0.0
796,15034071,2.0,55.644951,2015-11-25,1.0,0.0,0.0,1.0,0.0,0.0
797,15034091,2.0,55.644951,2015-11-25,3.0,0.0,1.0,1.0,0.0,0.0
798,NaN,NaN,55.644951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,NaN,NaN,55.644951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,NaN,NaN,55.644951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,NaN,NaN,55.644951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
802,NaN,NaN,55.644951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,NaN,NaN,55.644951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
804,NaN,NaN,55.644951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
805,NaN,NaN,55.644951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806,NaN,NaN,55.644951,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df=df.dropna(thresh=2)

In [49]:
df

,Sp_no,sex,age,date,origin,ns1,igm,igg,vl,severity
0,15014540,0.0,58.000000,2015-07-23,1.0,1.0,0.0,0.0,3930000.0,0.0
1,15016410,0.0,80.000000,2015-08-14,1.0,1.0,0.0,0.0,1600.0,0.0
2,15016320,1.0,10.000000,2015-08-14,1.0,1.0,0.0,0.0,618000.0,0.0
3,15016517,1.0,58.000000,2015-08-17,1.0,0.0,0.0,0.0,936000.0,0.0
4,15016753,1.0,73.000000,2015-08-18,1.0,1.0,0.0,0.0,1250.0,0.0
5,15016908,1.0,28.000000,2015-08-19,1.0,1.0,0.0,0.0,478000.0,0.0
6,15017063,0.0,75.000000,2015-08-20,1.0,1.0,0.0,0.0,18300.0,0.0
7,15017079,0.0,24.000000,2015-08-20,1.0,1.0,0.0,0.0,180000000.0,0.0
8,15019978,1.0,83.000000,2015-09-05,3.0,1.0,1.0,1.0,0.0,2.0
9,15025571,2.0,55.644951,2015-09-25,2.0,0.0,0.0,0.0,38100.0,0.0
10,15025050,1.0,79.000000,2015-09-23,1.0,1.0,0.0,0.0,255000.0,1.0
11,15021132,1.0,90.000000,2015-09-09,1.0,1.0,0.0,0.0,0.0,2.0
12,15022140,1.0,6.000000,2015-09-13,3.0,1.0,0.0,0.0,0.0,1.0
13,15022908,1.0,63.000000,2015-09-16,1.0,1.0,1.0,1.0,0.0,2.0
14,15028223,1.0,72.000000,2015-10-08,1.0,1.0,0.0,0.0,0.0,1.0
15,15028806,0.0,92.000000,2015-10-13,1.0,1.0,0.0,0.0,0.0,1.0
16,15029030,1.0,82.000000,2015-10-14,1.0,1.0,0.0,0.0,0.0,1.0
17,15023010,1.0,77.000000,2015-09-16,1.0,1.0,0.0,1.0,0.0,2.0
18,15017526,0.0,84.000000,2015-08-24,1.0,0.0,0.0,1.0,0.0,0.0
19,15023484,0.0,72.000000,2015-09-17,1.0,1.0,0.0,1.0,0.0,2.0
20,15017335,1.0,72.000000,2015-08-23,1.0,1.0,0.0,0.0,89600.0,1.0
21,15023547,1.0,63.000000,2015-09-18,1.0,1.0,1.0,1.0,0.0,2.0
22,15023941,0.0,88.000000,2015-09-19,1.0,1.0,0.0,1.0,0.0,2.0
23,15020460,0.0,77.000000,2015-09-07,1.0,1.0,1.0,1.0,27600.0,2.0
24,15023994,0.0,88.000000,2015-09-19,1.0,1.0,0.0,1.0,486000.0,2.0
25,15026119,0.0,84.000000,2015-09-28,1.0,0.0,1.0,0.0,0.0,2.0
26,15030723,0.0,73.000000,2015-10-26,1.0,1.0,0.0,0.0,0.0,1.0
27,15026998,1.0,71.000000,2015-10-02,1.0,1.0,1.0,1.0,80400.0,2.0
28,15031034,0.0,77.000000,2015-10-28,4.0,1.0,0.0,1.0,0.0,1.0
29,15017886,1.0,76.000000,2015-08-27,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
768,15030416,2.0,55.644951,2015-10-24,1.0,0.0,0.0,1.0,0.0,0.0
769,15030417,2.0,55.644951,2015-10-24,1.0,0.0,1.0,1.0,0.0,0.0
770,15030452,2.0,55.644951,2015-10-24,3.0,0.0,0.0,1.0,0.0,0.0
771,15018110,0.0,23.000000,2015-08-28,4.0,0.0,0.0,0.0,0.0,0.0
772,15030461,2.0,55.644951,2015-10-25,1.0,0.0,0.0,0.0,1420000.0,0.0
773,15030476,2.0,55.644951,2015-10-25,1.0,0.0,1.0,0.0,0.0,0.0
774,15030508,2.0,55.644951,2015-10-25,1.0,0.0,0.0,1.0,0.0,0.0
775,15030725,2.0,55.644951,2015-10-26,2.0,0.0,0.0,0.0,1330000.0,0.0
776,15030648,2.0,55.644951,2015-10-26,1.0,0.0,1.0,0.0,0.0,0.0
777,15030741,2.0,55.644951,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
778,15030769,2.0,55.644951,2015-10-27,1.0,0.0,0.0,1.0,0.0,0.0
779,15030930,2.0,55.644951,2015-10-28,2.0,0.0,1.0,0.0,0.0,0.0
780,15019407,1.0,72.000000,2015-09-03,1.0,1.0,0.0,1.0,1150000.0,1.0
781,15031184,2.0,55.644951,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
782,15031187,2.0,55.644951,2015-10-29,1.0,0.0,1.0,1.0,0.0,0.0
783,15031213,2.0,55.644951,2015-10-30,1.0,0.0,0.0,0.0,28800.0,0.0
784,15031292,2.0,55.644951,2015-10-30,1.0,0.0,1.0,1.0,0.0,0.0
785,15031412,2.0,55.644951,2015-10-31,1.0,0.0,0.0,0.0,31100.0,0.0
786,15031608,2.0,55.644951,2015-11-02,1.0,0.0,0.0,1.0,0.0,0.0
787,15031903,2.0,55.644951,2015-11-05,2.0,1.0,0.0,1.0,226000.0,0.0
788,15032134,2.0,55.644951,2015-11-07,2.0,0.0,0.0,0.0,1200000.0,0.0
789,15032987,2.0,55.644951,2015-11-15,1.0,0.0,1.0,1.0,0.0,0.0
790,15033511,2.0,55.644951,2015-11-19,1.0,0.0,1.0,0.0,0.0,0.0
791,15021267,2.0,55.644951,2015-09-09,4.0,0.0,0.0,0.0,249000.0,0.0
792,15033612,2.0,55.644951,2015-11-21,1.0,0.0,0.0,0.0,1800000.0,0.0
793,15033667,2.0,55.644951,2015-11-21,1.0,0.0,1.0,0.0,0.0,0.0
794,15033839,2.0,55.644951,2015-11-22,4.0,0.0,0.0,1.0,0.0,0.0
795,15034003,2.0,55.644951,2015-11-24,1.0,0.0,0.0,0.0,3350000.0,0.0
796,15034071,2.0,55.644951,2015-11-25,1.0,0.0,0.0,1.0,0.0,0.0
797,15034091,2.0,55.644951,2015-11-25,3.0,0.0,1.0,1.0,0.0,0.0

In [51]:
ndarray = df.values

In [52]:
ndarray.shape

(798, 10)

In [53]:
ndarray

array([['15014540', 0.0, 58.0, ..., 0.0, 3930000.0, 0.0],
       ['15016410', 0.0, 80.0, ..., 0.0, 1600.0, 0.0],
       ['15016320', 1.0, 10.0, ..., 0.0, 618000.0, 0.0],
       ...,
       ['15034003', 2.0, 55.644951140065146, ..., 0.0, 3350000.0, 0.0],
       ['15034071', 2.0, 55.644951140065146, ..., 1.0, 0.0, 0.0],
       ['15034091', 2.0, 55.644951140065146, ..., 1.0, 0.0, 0.0]],
      dtype=object)

In [58]:
df=df.drop(['Sp_no'], axis=1)

In [60]:
df=df.drop(['sex'], axis=1)

In [61]:
df

           age        date  origin  ns1  igm  igg           vl  severity
0    58.000000  2015-07-23     1.0  1.0  0.0  0.0    3930000.0       0.0
1    80.000000  2015-08-14     1.0  1.0  0.0  0.0       1600.0       0.0
2    10.000000  2015-08-14     1.0  1.0  0.0  0.0     618000.0       0.0
3    58.000000  2015-08-17     1.0  0.0  0.0  0.0     936000.0       0.0
4    73.000000  2015-08-18     1.0  1.0  0.0  0.0       1250.0       0.0
5    28.000000  2015-08-19     1.0  1.0  0.0  0.0     478000.0       0.0
6    75.000000  2015-08-20     1.0  1.0  0.0  0.0      18300.0       0.0
7    24.000000  2015-08-20     1.0  1.0  0.0  0.0  180000000.0       0.0
8    83.000000  2015-09-05     3.0  1.0  1.0  1.0          0.0       2.0
9    55.644951  2015-09-25     2.0  0.0  0.0  0.0      38100.0       0.0
10   79.000000  2015-09-23     1.0  1.0  0.0  0.0     255000.0       1.0
11   90.000000  2015-09-09     1.0  1.0  0.0  0.0          0.0       2.0
12    6.000000  2015-09-13     3.0  1.0  0.0  0.0          0.0       1.0
13   63.000000  2015-09-16     1.0  1.0  1.0  1.0          0.0       2.0
14   72.000000  2015-10-08     1.0  1.0  0.0  0.0          0.0       1.0
15   92.000000  2015-10-13     1.0  1.0  0.0  0.0          0.0       1.0
16   82.000000  2015-10-14     1.0  1.0  0.0  0.0          0.0       1.0
17   77.000000  2015-09-16     1.0  1.0  0.0  1.0          0.0       2.0
18   84.000000  2015-08-24     1.0  0.0  0.0  1.0          0.0       0.0
19   72.000000  2015-09-17     1.0  1.0  0.0  1.0          0.0       2.0
20   72.000000  2015-08-23     1.0  1.0  0.0  0.0      89600.0       1.0
21   63.000000  2015-09-18     1.0  1.0  1.0  1.0          0.0       2.0
22   88.000000  2015-09-19     1.0  1.0  0.0  1.0          0.0       2.0
23   77.000000  2015-09-07     1.0  1.0  1.0  1.0      27600.0       2.0
24   88.000000  2015-09-19     1.0  1.0  0.0  1.0     486000.0       2.0
25   84.000000  2015-09-28     1.0  0.0  1.0  0.0          0.0       2.0
26   73.000000  2015-10-26     1.0  1.0  0.0  0.0          0.0       1.0
27   71.000000  2015-10-02     1.0  1.0  1.0  1.0      80400.0       2.0
28   77.000000  2015-10-28     4.0  1.0  0.0  1.0          0.0       1.0
29   76.000000  2015-08-27     1.0  1.0  1.0  1.0          0.0       1.0
..         ...         ...     ...  ...  ...  ...          ...       ...
768  55.644951  2015-10-24     1.0  0.0  0.0  1.0          0.0       0.0
769  55.644951  2015-10-24     1.0  0.0  1.0  1.0          0.0       0.0
770  55.644951  2015-10-24     3.0  0.0  0.0  1.0          0.0       0.0
771  23.000000  2015-08-28     4.0  0.0  0.0  0.0          0.0       0.0
772  55.644951  2015-10-25     1.0  0.0  0.0  0.0    1420000.0       0.0
773  55.644951  2015-10-25     1.0  0.0  1.0  0.0          0.0       0.0
774  55.644951  2015-10-25     1.0  0.0  0.0  1.0          0.0       0.0
775  55.644951  2015-10-26     2.0  0.0  0.0  0.0    1330000.0       0.0
776  55.644951  2015-10-26     1.0  0.0  1.0  0.0          0.0       0.0
777  55.644951  2015-10-27     1.0  0.0  0.0  1.0          0.0       0.0
778  55.644951  2015-10-27     1.0  0.0  0.0  1.0          0.0       0.0
779  55.644951  2015-10-28     2.0  0.0  1.0  0.0          0.0       0.0
780  72.000000  2015-09-03     1.0  1.0  0.0  1.0    1150000.0       1.0
781  55.644951  2015-10-29     1.0  0.0  1.0  1.0          0.0       0.0
782  55.644951  2015-10-29     1.0  0.0  1.0  1.0          0.0       0.0
783  55.644951  2015-10-30     1.0  0.0  0.0  0.0      28800.0       0.0
784  55.644951  2015-10-30     1.0  0.0  1.0  1.0          0.0       0.0
785  55.644951  2015-10-31     1.0  0.0  0.0  0.0      31100.0       0.0
786  55.644951  2015-11-02     1.0  0.0  0.0  1.0          0.0       0.0
787  55.644951  2015-11-05     2.0  1.0  0.0  1.0     226000.0       0.0
788  55.644951  2015-11-07     2.0  0.0  0.0  0.0    1200000.0       0.0
789  55.644951  2015-11-15     1.0  0.0  1.0  1.0          0.0       0.0
790  55.644951  2015-11-19     1.0  0.0  1.0  0.0          0.0       0.0
791  55.644951  2015-09-09     4.0  0.0  0.0  0.0     249000.0       0.0
792  55.644951  2015-11-21     1.0  0.0  0.0  0.0    1800000.0       0.0
793  55.644951  2015-11-21     1.0  0.0  1.0  0.0          0.0       0.0
794  55.644951  2015-11-22     4.0  0.0  0.0  1.0          0.0       0.0
795  55.644951  2015-11-24     1.0  0.0  0.0  0.0    3350000.0       0.0
796  55.644951  2015-11-25     1.0  0.0  0.0  1.0          0.0       0.0
797  55.644951  2015-11-25     3.0  0.0  1.0  1.0          0.0       0.0

[798 rows x 8 columns]

In [63]:
ndarray =df.values

In [64]:
ndarray.shape

(798, 8)

In [65]:
ndarray[:5]

array([[58.0, '2015-07-23', 1.0, 1.0, 0.0, 0.0, 3930000.0, 0.0],
       [80.0, '2015-08-14', 1.0, 1.0, 0.0, 0.0, 1600.0, 0.0],
       [10.0, '2015-08-14', 1.0, 1.0, 0.0, 0.0, 618000.0, 0.0],
       [58.0, '2015-08-17', 1.0, 0.0, 0.0, 0.0, 936000.0, 0.0],
       [73.0, '2015-08-18', 1.0, 1.0, 0.0, 0.0, 1250.0, 0.0]],
      dtype=object)

In [66]:
Label=ndarray[:,7]

In [67]:
Feature=ndarray[:, 0:6]

In [69]:
Label[:10]

array([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0], dtype=object)

In [70]:
Feature[:10]

array([[58.0, '2015-07-23', 1.0, 1.0, 0.0, 0.0],
       [80.0, '2015-08-14', 1.0, 1.0, 0.0, 0.0],
       [10.0, '2015-08-14', 1.0, 1.0, 0.0, 0.0],
       [58.0, '2015-08-17', 1.0, 0.0, 0.0, 0.0],
       [73.0, '2015-08-18', 1.0, 1.0, 0.0, 0.0],
       [28.0, '2015-08-19', 1.0, 1.0, 0.0, 0.0],
       [75.0, '2015-08-20', 1.0, 1.0, 0.0, 0.0],
       [24.0, '2015-08-20', 1.0, 1.0, 0.0, 0.0],
       [83.0, '2015-09-05', 3.0, 1.0, 1.0, 1.0],
       [55.644951140065146, '2015-09-25', 2.0, 0.0, 0.0, 0.0]],
      dtype=object)

In [71]:
Feature=ndarray[:, 0:7]

In [72]:
Feature[:10]

array([[58.0, '2015-07-23', 1.0, 1.0, 0.0, 0.0, 3930000.0],
       [80.0, '2015-08-14', 1.0, 1.0, 0.0, 0.0, 1600.0],
       [10.0, '2015-08-14', 1.0, 1.0, 0.0, 0.0, 618000.0],
       [58.0, '2015-08-17', 1.0, 0.0, 0.0, 0.0, 936000.0],
       [73.0, '2015-08-18', 1.0, 1.0, 0.0, 0.0, 1250.0],
       [28.0, '2015-08-19', 1.0, 1.0, 0.0, 0.0, 478000.0],
       [75.0, '2015-08-20', 1.0, 1.0, 0.0, 0.0, 18300.0],
       [24.0, '2015-08-20', 1.0, 1.0, 0.0, 0.0, 180000000.0],
       [83.0, '2015-09-05', 3.0, 1.0, 1.0, 1.0, 0.0],
       [55.644951140065146, '2015-09-25', 2.0, 0.0, 0.0, 0.0, 38100.0]],
      dtype=object)

In [73]:
Label[:10]

array([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0], dtype=object)

In [79]:
df1=df.drop(['d

KeyError: "labels ['date'] not contained in axis"

In [75]:
ndarray=df1.values

In [76]:
ndarray[:5]

array([[5.80e+01, 1.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 3.93e+06,
        0.00e+00],
       [8.00e+01, 1.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 1.60e+03,
        0.00e+00],
       [1.00e+01, 1.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 6.18e+05,
        0.00e+00],
       [5.80e+01, 1.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 9.36e+05,
        0.00e+00],
       [7.30e+01, 1.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 1.25e+03,
        0.00e+00]])

In [80]:
df

           age  origin  ns1  igm  igg           vl  severity
0    58.000000     1.0  1.0  0.0  0.0    3930000.0       0.0
1    80.000000     1.0  1.0  0.0  0.0       1600.0       0.0
2    10.000000     1.0  1.0  0.0  0.0     618000.0       0.0
3    58.000000     1.0  0.0  0.0  0.0     936000.0       0.0
4    73.000000     1.0  1.0  0.0  0.0       1250.0       0.0
5    28.000000     1.0  1.0  0.0  0.0     478000.0       0.0
6    75.000000     1.0  1.0  0.0  0.0      18300.0       0.0
7    24.000000     1.0  1.0  0.0  0.0  180000000.0       0.0
8    83.000000     3.0  1.0  1.0  1.0          0.0       2.0
9    55.644951     2.0  0.0  0.0  0.0      38100.0       0.0
10   79.000000     1.0  1.0  0.0  0.0     255000.0       1.0
11   90.000000     1.0  1.0  0.0  0.0          0.0       2.0
12    6.000000     3.0  1.0  0.0  0.0          0.0       1.0
13   63.000000     1.0  1.0  1.0  1.0          0.0       2.0
14   72.000000     1.0  1.0  0.0  0.0          0.0       1.0
15   92.000000     1.0  1.0  0.0  0.0          0.0       1.0
16   82.000000     1.0  1.0  0.0  0.0          0.0       1.0
17   77.000000     1.0  1.0  0.0  1.0          0.0       2.0
18   84.000000     1.0  0.0  0.0  1.0          0.0       0.0
19   72.000000     1.0  1.0  0.0  1.0          0.0       2.0
20   72.000000     1.0  1.0  0.0  0.0      89600.0       1.0
21   63.000000     1.0  1.0  1.0  1.0          0.0       2.0
22   88.000000     1.0  1.0  0.0  1.0          0.0       2.0
23   77.000000     1.0  1.0  1.0  1.0      27600.0       2.0
24   88.000000     1.0  1.0  0.0  1.0     486000.0       2.0
25   84.000000     1.0  0.0  1.0  0.0          0.0       2.0
26   73.000000     1.0  1.0  0.0  0.0          0.0       1.0
27   71.000000     1.0  1.0  1.0  1.0      80400.0       2.0
28   77.000000     4.0  1.0  0.0  1.0          0.0       1.0
29   76.000000     1.0  1.0  1.0  1.0          0.0       1.0
..         ...     ...  ...  ...  ...          ...       ...
768  55.644951     1.0  0.0  0.0  1.0          0.0       0.0
769  55.644951     1.0  0.0  1.0  1.0          0.0       0.0
770  55.644951     3.0  0.0  0.0  1.0          0.0       0.0
771  23.000000     4.0  0.0  0.0  0.0          0.0       0.0
772  55.644951     1.0  0.0  0.0  0.0    1420000.0       0.0
773  55.644951     1.0  0.0  1.0  0.0          0.0       0.0
774  55.644951     1.0  0.0  0.0  1.0          0.0       0.0
775  55.644951     2.0  0.0  0.0  0.0    1330000.0       0.0
776  55.644951     1.0  0.0  1.0  0.0          0.0       0.0
777  55.644951     1.0  0.0  0.0  1.0          0.0       0.0
778  55.644951     1.0  0.0  0.0  1.0          0.0       0.0
779  55.644951     2.0  0.0  1.0  0.0          0.0       0.0
780  72.000000     1.0  1.0  0.0  1.0    1150000.0       1.0
781  55.644951     1.0  0.0  1.0  1.0          0.0       0.0
782  55.644951     1.0  0.0  1.0  1.0          0.0       0.0
783  55.644951     1.0  0.0  0.0  0.0      28800.0       0.0
784  55.644951     1.0  0.0  1.0  1.0          0.0       0.0
785  55.644951     1.0  0.0  0.0  0.0      31100.0       0.0
786  55.644951     1.0  0.0  0.0  1.0          0.0       0.0
787  55.644951     2.0  1.0  0.0  1.0     226000.0       0.0
788  55.644951     2.0  0.0  0.0  0.0    1200000.0       0.0
789  55.644951     1.0  0.0  1.0  1.0          0.0       0.0
790  55.644951     1.0  0.0  1.0  0.0          0.0       0.0
791  55.644951     4.0  0.0  0.0  0.0     249000.0       0.0
792  55.644951     1.0  0.0  0.0  0.0    1800000.0       0.0
793  55.644951     1.0  0.0  1.0  0.0          0.0       0.0
794  55.644951     4.0  0.0  0.0  1.0          0.0       0.0
795  55.644951     1.0  0.0  0.0  0.0    3350000.0       0.0
796  55.644951     1.0  0.0  0.0  1.0          0.0       0.0
797  55.644951     3.0  0.0  1.0  1.0          0.0       0.0

[798 rows x 7 columns]

In [82]:
df1['severity']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.0
8      2.0
9      0.0
10     1.0
11     2.0
12     1.0
13     2.0
14     1.0
15     1.0
16     1.0
17     2.0
18     0.0
19     2.0
20     1.0
21     2.0
22     2.0
23     2.0
24     2.0
25     2.0
26     1.0
27     2.0
28     1.0
29     1.0
      ...
768    0.0
769    0.0
770    0.0
771    0.0
772    0.0
773    0.0
774    0.0
775    0.0
776    0.0
777    0.0
778    0.0
779    0.0
780    1.0
781    0.0
782    0.0
783    0.0
784    0.0
785    0.0
786    0.0
787    0.0
788    0.0
789    0.0
790    0.0
791    0.0
792    0.0
793    0.0
794    0.0
795    0.0
796    0.0
797    0.0
Name: severity, Length: 798, dtype: float64

In [1]:
df1

NameError: name 'df1' is not defined

In [2]:
df1

NameError: name 'df1' is not defined